#carga{
	border: 5px solid rgb(53, 53, 406);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    margin-left: 0px;
}
#boton{
	
	margin-left:30px !important;
}

#la{
	
	display:none;
}

#ele{
	
	margin-left:50px;
}